:root {
    --bg-color: #303030;
    --white-color: #F6F6F2;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
}  
  
.App {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--white-color);
}
  
main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#horizontalFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  
label { font-size: 20px; }
  
#wordInput, .text {
    display: block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    height: 35px;
    margin: 30px 30px;
    padding: 10px 15px;
    color: black;
    background-color: lightgray;
    border-radius: 2px;
}
  
.buttons {
    padding: 8px 45px;
    margin: 30px 30px;
    font-size: 100%;
    border-radius: 5px;
}
  
.buttons:disabled {
    color: grey;
    background-color: #303030;
    border: 1px solid grey;
}
  
.buttons:enabled {
    color: white;
    background-color: #303030;
    border: 1px solid white;
    transition: background-color .3s ease;
}
  
.buttons:disabled:hover { cursor: not-allowed; }
  
.buttons:enabled:hover {
    color: #303030;
    background-color: white;
    cursor: pointer;
}
  
@media (max-width: 900px) {
    #horizontalFlex {
      flex-direction: column;    
    }
}
  